@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 1.6vw;
    /* Ajuste para font-size responsivo */
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    background-color: #0e0b14de;
    user-select: none;
    overflow-x: hidden;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Corpo da Calculadora */
.calculator-body {
    background-color: #525252;
    width: 27.5%;
    height: calc(100vh/1.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1%;
    border-radius: 25px;
    box-shadow: 0px 3px 5px -1px #00000067;
    z-index: 2;
    transition: 0.5s;
    position: relative;
}

/* Valores da Calculadora */
.calculator-values {
    color: #bbe487;
    width: 90%;
    height: 20%;
    font-size: 1.2vw;
    font-weight: bold;
    text-align: end;
    align-content: center;
}

/* Tela da Calculadora */
.calculator-screen {
    color: #fff;
    width: 90%;
    height: 10%;
    font-size: 3.5vw;
    /* Ajuste para font-size responsivo */
    font-weight: bold;
    text-align: end;
    align-content: center;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: #b3ec68cb transparent;
}

/* Teclado da Calculadora */
.calculator-keyboard {
    background-color: #363636;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px 35px 25px 25px;
    box-shadow: 0px -5px 10px -5px #c1ff6f59;
}

.calculator-keyboard .keyboard {
    margin: 0;
    padding: 0;
    color: #c1ff6f;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    list-style: none;
}

/* Teclas da Calculadora */
.calculator-keyboard .keyboard .key {
    background-color: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 15%;
    font-size: 1.3vw;
    /* Ajuste para font-size responsivo */
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 1px 5px #00000044;
}

.calculator-keyboard .keyboard .key:hover {
    background-color: #252525;
}

.calculator-body .keyboard .alt-key {
    background-color: #7c7c7c;
}

.calculator-body .keyboard .alt-key:hover {
    background-color: #414141;
}

.calculator-body .keyboard .equal {
    background-color: #9ff036;
    color: #0f0f0f;
}

.calculator-body .keyboard .equal:hover {
    background-color: #72b121;
    color: #c1ff6f;
}

/* Histórico da Calculadora */
.history-container {
    background-color: #424242;
    color: #e0e0e0;
    position: absolute;
    top: 0;
    left: 40%;
    /* Ajuste conforme necessário */
    width: 10%;
    /* Largura do histórico */
    height: 100%;
    border-radius: 0px 25px 25px 0px;
    font-size: 1vw;
    /* Ajuste para font-size responsivo */
    font-weight: bold;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #b3ec68cb transparent;
    padding-left: 2%;
    z-index: 1;
    transition: 0.5s;
}

.history {
    list-style: none;
    padding: 0;
    margin: 0;
}

.history li {
    margin-bottom: 10px;
}

/* Botão para alternar o histórico */
.toggle-history {
    background-color: #252525;
    position: absolute;
    top: 10px;
    left: 20px;
    /* Ajuste conforme necessário */
    cursor: pointer;
    z-index: 3;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #c1ff6f59;
}

.show-history {
    left: 62.5%;
}


@media screen and (max-width: 1440px) {
    main {
        height: 55vh;
    }

    .calculator-body {
        height: 55vh;
        width: 35%;
    }

    .calculator-keyboard .keyboard .key {
        font-size: 1.5vw;
    }

    .show-history {
        left: 66%;
    }
}


@media screen and (max-width: 1024px) {
    main {
        height: 50vh;
    }

    .calculator-body {
        height: 50vh;
    }

    .calculator-keyboard .keyboard .key {
        font-size: 1.5vw;
    }

    .history-container {
        padding-left: 2.5%;
        font-size: 1.2vw;
    }

    .show-history {
        left: 66%;
    }
}

@media screen and (max-width: 768px) {
    main {
        height: 80vh;
    }

    .calculator-body {
        height: 80vh;
        width: 70%;
    }

    .calculator-keyboard .keyboard .key {
        font-size: 3vw;
    }

    .history-container {
        padding-left: 2.5%;
        font-size: 2vw;
        width: 30%;

        top: 0;
        left: -35%;

        z-index: 2;
    }

    .toggle-history{
        top: 102.5%;
        left: 25%;
        right: 25%;
    }

    .show-history {
        left: 0%;
    }
}


@media screen and (max-width: 425px) {
    main {
        height: 90vh;
    }

    .calculator-body {
        height: 90vh;
        width: 100%;
        border-radius: 0px 0px 25px 25px;
    }

    .calculator-screen{
        font-size: 15vw;
    }

    .calculator-values{
        font-size: 5vw;
    }

    .calculator-keyboard .keyboard{
        width: 95%;

        gap: 10px;
    }

    .calculator-keyboard .keyboard .key {
        font-size: 5.5vw;

        padding: 20%;
    }

    .history-container {
        padding-left: 2.5%;
        font-size: 3.5vw;
        width: 50%;

        top: 0;
        left: -55%;

        z-index: 2;
    }

    .toggle-history{
        top: 102.5%;
        left: 25%;
        right: 25%;
    }

    .show-history {
        left: 0%;
    }
}