@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;

    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Roboto";

    background-color: #0e0b14de;

    user-select: none;
}

main {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Calculator body */

.calculator-body {
    background-color: #525252;

    width: 27.5%;
    height: calc(100vh/1.4);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1%;

    border-radius: 25px;

    box-shadow: 0px 3px 5px -1px #00000067;
    z-index: 2;

    transition: 0.5s;
}

/* Calculator Values */

.calculator-values {
    color: #bbe487;

    width: 90%;
    height: 20%;

    font-size: 1rem;
    font-weight: bold;
    text-align: end;
    align-content: center;
}

/* Calculator Screen */

.calculator-screen {
    color: #fff;

    width: 90%;
    height: 10%;

    font-size: 3.5rem;
    font-weight: bold;
    text-align: end;
    align-content: center;

    overflow-y: hidden;

    scrollbar-width: thin;
    scrollbar-color: #b3ec68cb transparent;
}

/* Calculator Keyboard */

.calculator-keyboard {
    background-color: #363636;

    width: 100%;
    height: 70%;


    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 35px 35px 25px 25px;

    box-shadow: 0px -5px 10px -5px #c1ff6f59;
}

.calculator-keyboard .keyboard {

    margin: 0;
    padding: 0;
    color: #c1ff6f;

    width: 90%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 10px;

    list-style: none;

}

/* Calculator Keys */

.calculator-keyboard .keyboard .key {
    background-color: #2b2b2b;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    padding: 15%;

    font-size: 1.3rem;
    font-weight: bold;

    cursor: pointer;

    box-shadow: 0px 1px 5px #00000044;
}

.calculator-keyboard .keyboard .key:hover {
    background-color: #252525;
}

.calculator-body .keyboard .alt-key {
    background-color: #7c7c7c;
}

.calculator-body .keyboard .alt-key:hover {
    background-color: #414141;
}

.calculator-body .keyboard .equal {
    background-color: #9ff036;
    color: #0f0f0f;
}

.calculator-body .keyboard .equal:hover {
    background-color: #72b121;
    color: #c1ff6f;
}

/* Calculator history */
.history-container {
    background-color: #424242;
    color: #e0e0e0;

    position: absolute;
    top: 20;
    left: 900px;

    width: 10%; /* Largura do histórico */
    height: calc(100vh / 1.4); /* Mesma altura que a calculadora */

    border-radius: 0px 25px 25px 0px; /* Adicionando bordas arredondadas */

    font-size: 1rem;
    font-weight: bold;

    overflow-y: scroll; /* Adiciona scroll vertical */
    scrollbar-width: thin; /* Espessura da barra de rolagem */
    scrollbar-color: #b3ec68cb transparent; /* Cor da barra de rolagem */
    
    padding-left: 30px; /* Espaçamento interno à esquerda */
    margin-left: -1%; /* Ajuste para posicionar mais à esquerda */

    z-index: 1; /* Garante que fique sobre a calculadora */

    transition: 0.5s;
}

.history {
    list-style: none;
    padding: 0;
    margin: 0;
}

.history li {
    margin-bottom: 10px; /* Espaçamento entre os itens da lista */
}

/* Estilos para o botão de toggle */
.toggle-history {
    background-color: #252525;

    position: fixed;
    top: 50px;
    left: 20px;
    cursor: pointer;

    z-index: 3; /* Garante que fique sobre a calculadora e o histórico */

    border: none;
    border-radius: 5px;

    box-shadow: 0px 0px 5px 1px #c1ff6f59;

}

.show-history {
    left: 1225px;
}
