@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    margin: 0;
    padding: 0;
    font-size: 62.5%;

    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Roboto";

    background-color: #0e0b14;
}

.calculator-body{
    background-color: #525252;

    padding: 1%;

    width: 30%;
    height: calc(100vh/1.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 12.5%;

    border-radius: 5%;
}

.calculator-screen{
    background-color: #8f8f8f;
    width: 90%;
    height: 30%;

    border-radius: 10px;
}

.calculator-keyboard{
    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-keyboard .keyboard{

    margin: 0;
    padding: 0;
    color: #c1ff6f;

    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 10px;

    list-style: none;

}

.calculator-keyboard .keyboard .key{
    background-color: #272727;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 10px;
    padding: 15%;

    font-size: 1.5rem;
    font-weight: bold;

    cursor: pointer;

    box-shadow: 0px 1px 5px #00000044;
}

.calculator-keyboard .keyboard .key:hover{
    background-color: #0f0f0f;
}

.calculator-body .keyboard .alt-key{
    background-color: #7c7c7c;
}

.calculator-body .keyboard .alt-key:hover{
    background-color: #646464;
}

.calculator-body .keyboard .equal{
    background-color: #63aa42;
    color: #0f0f0f;
}

.calculator-body .keyboard .equal:hover{
    background-color: #223b16;
    color: #c1ff6f;
}